version: '3.7'

services:
  web:
    build: ./myopinion
    command: gunicorn myopinion.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./myopinion:/usr/src/myopinion/

    expose:
      - 8000
    env_file:
      - ./.env.dev
  db:
    image: postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=db

  redis:
    image: redis:alpine

  celery:
    build: ./myopinion
    command: celery -A myopinion worker -l info
    volumes:
      - ./myopinion:/usr/src/myopinion/

  nginx:
    build: ./nginx
    ports:
      - 1337:80



volumes:
  postgres_data:

