version: '3.7'

services:
    web:
        build: ./myopinion
        command: python manage.py runserver 0.0.0.0:8000
        volumes: 
            - ./myopinion:/usr/src/myopinion/
        ports:
            - 8000:8000
        env_file:
            - ./.env.dev
    db:
        image: postgres:13-alpine
        volumes:
          - postgres_data:/var/lib/postgresql/data/
        environment:
          - POSTGRES_USER=user
          - POSTGRES_PASSWORD=password
          - POSTGRES_DB=db
volumes:
    postgres_data:

